# -------------------------
# https://github.com/github/gitignore
# https://github.com/ipython/ipython
# what to gitignore - https://goo.gl/3UoG2V
# =========================

# -------------------------
# ipython
# =========================
*.ipynb
.ipynb_checkpoints/

# -------------------------
# vagrant
# =========================
.vagrant/